.title {
    display: block;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; 
    padding-left: 25px;
    background-color:black;
    font-style: italic;
    color:darkorchid;
    text-shadow: 1px 1px white;
    font-weight: bolder;
    margin-right: 8px;
}

.cloud {
    color:orchid;
}

.subtitle {
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; 
    background-color:mediumorchid;
    color:orchid;
    text-shadow: 1px 1px black;
    font-stretch: narrower;
    margin-right: 8px;
}

.final {
    display: block;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8px;
    padding: 10px; 
    padding-right: 25px;
    background-color:orchid;
    font-weight: bolder;
    margin-right: 8px;
}

.final a:link {
    color:black;
    font-weight: lighter;  
    font-style: italic;
    text-shadow: 1px 1px darkorchid;
}